<a href="https://colab.research.google.com/github/danvargasgo/Algoritmos/blob/main/Lab1/DANVARGASGO_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
nombre = 'Daniel'
apellido = 'Vargas'
print(nombre + ' ' +  apellido)

Daniel Vargas

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
dos = 2
print(dos)
print(type(dos)) #se imprime el tipo de variable

2
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
tres_string = '3'
print(type(tres_string))
tres_entero = int(tres_string) #parseo de str a int
print(type(tres_entero))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
cuatro_string = "4"
cuatro_flotante = float(cuatro_string) #parseo de str a float
print(type(cuatro_flotante))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
booleano = True
print(booleano)
print(type(booleano))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Suma ", 5 + 8)           #La , concatena colocando un espacio en medio de
print("Resta ", 5 - 8)          #las variables
print("Multiplicación ", 2*-4)
print("División ", 840/2)
print("Exponente", 3**3)        #** eleva el primero número al segundo dado

Suma  13
Resta  -3
Multiplicación  -8
División  420.0
Exponente 27

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(3/3) #/ retorna un float con el valor de la división
print(21/3)

1.0
7.0

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

In [ ]:
nombres = ['Daniel', 'Ricardo', 'Cristiano', 'Messi']
print(nombres)

['Daniel', 'Ricardo', 'Cristiano', 'Messi']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
números = [4, 3, 2, 1]
print(len(números))               #len retorna el número de elementos
print(números[3])                 #se imprime el elemento en la posición 3
print(números[len(números) -2])   #se imprime el elemento en la posición 4 - 2

4
1
2

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
números = [1, 2, 'tres', 4]
números[2] = 3              #se reemplaza el elemento en la posición 2
print(números)

[1, 2, 3, 4]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
nombres = ['Jota', 'Mario', 'Diomedes']
print(nombres[0:2])                     #sublista desde la posición 0 hasta la 1

['Jota', 'Mario']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(nombres[2:]) #sublista desde el índice 2 hasta el 2

['Diomedes']

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(nombres[:2]) #subslista desde el índice 0 hasta el 1

['Jota', 'Mario']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
lista = ['Buenas']
lista.append('Tardes') #append(elemento) agrega elemento al final de la lista
print(lista)

['Buenas', 'Tardes']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant']

In [ ]:
lista.remove('Tardes') #remove(elemento) remueve elemento de la lista
print(lista)

['Buenas']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
tupla = ('No', 'soy', 'una', 'lista') #creación de tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
tupla = ('No', 'soy', 'una', 'lista')
print(tupla[:2])                      #subtupla

('No', 'soy')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [ ]:
sabores_lista = ['mora', 'fresa', 'mango']
sabores_set = set(sabores_lista)            #creación de set
print(sabores_set)

{'mora', 'mango', 'fresa'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
precios = {'tamal':5000, 'carne':8000000, 'chicles':150}

In [ ]:
print(precios['carne'])

8000000

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
precios['tamal'] = 7000
print(precios['tamal'])

7000

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(precios.keys())

dict_keys(['tamal', 'carne', 'chicles'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
string = '¡Hola Mundo!'
print(string[6:])

Mundo!

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print('Número de letras a en esta frase'.count('a'))          #count(v) cuenta el número de veces que aparece v en el string dado
print('La primera vez que aparece i en este frase'.find('i')) #find(i) encuentra la primera posición en que aparece i
print('Papa'.replace('a', 'e'))                               #replace(a, b) reemplaza todas las apariciones de a por b

4
5
Pepe

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Fecha = '2022-03-12/12:12:00'
lista_separada = Fecha.split('/') #split(c) parte el string a partir de la cadena c dada, retorna una lista
fecha = lista_separada[0]
hora = lista_separada[1]
print(fecha, hora)
hora = hora.split(':')[0]
print(hora)

2022-03-12 12:12:00
12

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
nombres = 'Nombres: {}, Apellidos: {}'.format('Daniel Felipe', 'Vargas Gómez')  #format reemplaza los valores dados por los corchetes
print(nombres)

Nombres: Daniel Felipe, Apellidos: Vargas Gómez

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('Mido %f metros'%1.68)
print('A %s le gusta %s'%('Camilo', 'Camila'))  #% funciona de manera análoga a format()

Mido 1.680000 metros
A Camilo le gusta Camila

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
print('hola' == 'ola')
print('hola' == 'hola')
print('hola' != 'ola')
print('hola' >= 'hola')
print('hola' >= 'ola')

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print('c' > 'b' and 'd' > 'c')
print('c' > 'b' and 'd' < 'c')
print('c' > 'b' or 'd' < 'c')
print('c' < 'b' and 'd' < 'c')

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print(('c' > 'b' or 'a' < 'c') and ('a'!='c' and 'd'>'c') and not ( 'c' < 'b' or 'a' < 'c' and ('a'!='c' and 'd'>'c')))
print('c' > 'b' or 'a' < 'c' and ('a'!='c' and 'd'>'c') and not ( 'c' < 'b' or 'a' < 'c' and ('a'!='c' and 'd'>'c')))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
vocal = 'a'
if vocal == 'a':
  print('vocal==a es verdadero')

vocal==a es verdadero

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
m = 'rojo' >'amarillo' 
n = 'azul' > 'verde'
if m and n:
  print('m y n son verdaderas')
elif m and not n:
  print('n es falsa')
elif n and not m:
  print('m es falsa')
else:
  print('Ninguna es verdadera')

n es falsa

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
i = 1
while i <= 5:
  print(i**i)
  i += 1

1
4
27
256
3125

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in ['h', 'o', 'l', 'a']:
  print(i)

h
o
l
a

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
estudiantes = ['Camilo', 'Danna', 'Juan', 'Jessica']
listadoSia = ['Jessica', 'Camilo']
for i in estudiantes:
  if i not in listadoSia:
    listadoSia.append(i)
print(listadoSia)

['Jessica', 'Camilo', 'Danna', 'Juan']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
puestos = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto']
for i in puestos:
  print(i)
  if i == 'tercero':
    break

primero
segundo
tercero

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
inventario = ['dulces', 'helados', 'chocolates', 'vacío', 'frutas', 'bebidas']
for i in inventario:
  if i == 'vacío':
    continue
  print(i)

dulces
helados
chocolates
frutas
bebidas

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
mitades = []
for i in [10, 20, 30, 40, 50]:
  mitades.append(i/2)
print(mitades)

[5.0, 10.0, 15.0, 20.0, 25.0]

Using list comprehension:

In [35]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [37]:
lista = [10, 20, 30, 40, 50]
mitades = [x/2 for x in lista]  #esta notación permite aplicar diferentes procesos sobre los elementos de una lista para guardarlos en una nueva, en este caso los divide por 2
print(mitades)

[5.0, 10.0, 15.0, 20.0, 25.0]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
estudiantes = ['Camilo', 'Danna', 'Juan', 'Jessica']
listadoSia = ['Jessica', 'Camilo']
listadoSiaNuevos = [x for x in estudiantes if x not in listadoSia]
print(listadoSiaNuevos)

['Danna', 'Juan']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print([(par + impar) for par in (2, 4, 6) for impar in [1, 3, 5] if par != 6 and impar != 5]) #se puede aplicar fórmulas a varias variables de diferentes listas
print([str(x) + ' ' + str(y) for x in ['perro','gato','burro','buitre'] for y in ['volador','sonriente','moribundo','encantador']])

[3, 5, 5, 7]
['perro volador', 'perro sonriente', 'perro moribundo', 'perro encantador', 'gato volador', 'gato sonriente', 'gato moribundo', 'gato encantador', 'burro volador', 'burro sonriente', 'burro moribundo', 'burro encantador', 'buitre volador', 'buitre sonriente', 'buitre moribundo', 'buitre encantador']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def suma(x, y):
  return x + y
print(suma(999, 1))
print(suma(6, 1))

1000
7

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
def imprimirPi():
  print(3.1416)
imprimirPi()

3.1416

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
print(range(101))       #range(a, b, c) crea una lista con un rango desde a (0 por defecto) hasta b-1 en pasos de c (1 por defecto)
print(range(10, 21))
print(range(5, 101, 5))

range(0, 101)
range(10, 21)
range(5, 101, 5)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
rango = [0, 1, 2, 3, 4]
print('El largo de rango es {}' .format(len(rango)))
for i in range(len(rango)):
  print(rango[i])

El largo de rango es 5
0
1
2
3
4

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [36]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [38]:
print(lista)
del lista     #del permite eliminar una lista

[10, 20, 30, 40, 50]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
nums = [59, 69.0, 79, 89.54, 99] #map(fórmula, lista) aplica la fórmula dada a cada elemento de la lista dada
list(map(type, nums))

[int, float, int, float, int]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(map(lambda z: z - 50, range(0, 26, 5)))

[-50, -45, -40, -35, -30, -25]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
list(map(lambda x, y: x/y, range(5), range(5, 11))) #

[0.0, 0.16666666666666666, 0.2857142857142857, 0.375, 0.4444444444444444]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
sorted(['b', 'x', 'r', 'w', 'a'])

['a', 'b', 'r', 'w', 'x']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
parejas = [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]
sorted(parejas, key = lambda x: x[0])

[(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
parejas = [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]
sorted(parejas, key = lambda x: x[0],reverse=True)

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
parejas = [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]
parejas.sort(key = lambda x: x[0])                  #sort() permite definir el ordenamiento a partir de una función lambda dada, en este caso se ordena por el primer térmido de las parejas
print(parejas)

[(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class perro:
  def __init__(self, color, edad, peso, raza):  #__init__() funciona como el constructor del objeto
    self.color = color
    self.edad = edad
    self.peso = peso
    self.raza = raza

  def actualizar(self, edad, peso):
    self.edad = edad
    self.peso = peso

  def imprimirEdad(self):
    print(self.edad)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
firulais = perro('negro', 2, 25, 'pitbull')
kira = perro('gris', 1, 20, 'bulldog')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
firulais.color
kira.imprimirEdad()
kira.actualizar(3, 30)
kira.imprimirEdad()

1
3

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
firulais.ladrido = 'Guau'
firulais.ladrido

'Guau'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(firulais) #dir() retorna los nombres definidos en el objeto, incluye los creados por defecto

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'actualizar',
 'color',
 'edad',
 'imprimirEdad',
 'ladrido',
 'peso',
 'raza']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
class hijo(perro):            #class padre(hijo) crea la clase hijo heredando los elementos que componen al padre
  def __init__(self,nombre):
    self.nombre = nombre

In [ ]:
chirris = hijo('chirris')
print(chirris.nombre)
chirris.actualizar(4, 25)
print(chirris.edad)
print(chirris.peso)
print(chirris.imprimirEdad())

chirris
4
25
4
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
precios_lista = [100.5, 60.2, 42.7, 59.8, 75.1]
precios_array = np.array(precios_lista)         #np.array() crea un array a partir de una lista dada
print(precios_array, type(precios_array))

[100.5  60.2  42.7  59.8  75.1] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
arr = np.array([[1,0],[0,1]])
print(arr, type(arr))

[[1 0]
 [0 1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
print(arr.shape)  #shape es el atributo con las dimensiones del array

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
print(arr[0])
print(arr[1])

[1 0]
[0 1]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
print('primera columna: ', arr[:,0])
print('segunda columna: ', arr[:,1])

primera columna:  [1 0]
segunda columna:  [0 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
print(np.log(precios_array))  #log() retorna el logaritmo natural de los elementos de un array

[4.61015773 4.09767235 3.75419892 4.09100566 4.31882056]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print(np.mean(precios_array)) #mean() media de los elementos de un array (n1+n2+n3+...+n)/n
print(np.std(precios_array))  #std() es la desviación estándar del array
print(np.sum(precios_array))  #sum() es la suma de todos los valores del array
print(np.max(precios_array))  #max() es el valor máximo del array

67.66
19.361053690334106
338.29999999999995
100.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [23]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [41]:
precios = [100.5, 60.2, 42.7, 59.8, 75.1]
ps = pd.Series(precios)                   #Series() se utiliza para crear una serie de datos con Pandas
ps

0    100.5
1     60.2
2     42.7
3     59.8
4     75.1
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
ps = pd.Series(precios, index = ['A', 'B', 'C', 'D', 'E']) #index permite especifícar los índices de la serie
ps

A    100.5
B     60.2
C     42.7
D     59.8
E     75.1
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
ps.index = ['I', 'II', 'III', 'IV', 'V']
ps

I      100.5
II      60.2
III     42.7
IV      59.8
V       75.1
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
print(ps[2:])
print(ps[:-1])

III    42.7
IV     59.8
V      75.1
dtype: float64
I      100.5
II      60.2
III     42.7
IV      59.8
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
print(ps['I'])
ps['I'] = 666
print(ps)

100.5
I      666.0
II      60.2
III     42.7
IV      59.8
V       75.1
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [42]:
ps = pd.Series(precios, name = 'Lista de Precios')  #name permite agregarle un nombre a la serie
print(ps)
print(ps.name)

0    100.5
1     60.2
2     42.7
3     59.8
4     75.1
Name: Lista de Precios, dtype: float64
Lista de Precios

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [44]:
print(ps.describe())  #describe() nos provee diferentes estadísticas de la serie

count      5.000000
mean      67.660000
std       21.646316
min       42.700000
25%       59.800000
50%       60.200000
75%       75.100000
max      100.500000
Name: Lista de Precios, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
indice_tiempo = pd.date_range('2022-03-12', periods = len(ps),freq = 'D') #date_range permite definir los índices a partir de fechas, periods es el número de datos de la serie, freq puede ser días 'D', semanas 'W' o meses 'M'
print(indice_tiempo)
ps.index = indice_tiempo
print(ps)

DatetimeIndex(['2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16'],
              dtype='datetime64[ns]', freq='D')
2022-03-12    100.5
2022-03-13     60.2
2022-03-14     42.7
2022-03-15     59.8
2022-03-16     75.1
Freq: D, Name: Lista de Precios, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [ ]:
ps.index = [5, 4, 3, 2, 1]
print(ps)
print(ps[1])

5    100.5
4     60.2
3     42.7
2     59.8
1     75.1
Name: Lista de Precios, dtype: float64
75.1

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
print(ps.iloc[1]) #iloc[] permite acceder a un elemento indicandole el índice definido para este

60.2

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
ps.index = indice_tiempo
print(ps['2022-03-16'])   #podemos acceder mediante el índice del elemento que definimos utilizando fechas

75.1

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
print(ps['2022-03-13':'2022-03-15']) #se pueden obtener los elementos del rango de fechas para el que existen elementos con su correspondientes índices

2022-03-13    60.2
2022-03-14    42.7
2022-03-15    59.8
Freq: D, Name: Lista de Precios, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
print(ps[ps > np.mean(ps)])                                         #Se obtienen los elementos que son mayores a la media
print([(ps < np.mean(ps)) & (ps > np.mean(ps) + 1.64*np.std(ps))])  #Se imprime el booleano correspondiente a las condiciones dadas para cada elemento de la serie

2022-03-12    100.5
2022-03-16     75.1
Name: Lista de Precios, dtype: float64
[2022-03-12    False
2022-03-13    False
2022-03-14    False
2022-03-15    False
2022-03-16    False
Freq: D, Name: Lista de Precios, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [6]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 3.9 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.4 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 150.675, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.83, 'beta3Year': None, 'enterpriseToEbitda': 20.153, '52WeekChange': 0.24792325, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59426, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.059303045, 'priceToBook': 34.22876, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2583992205312, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.499756, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 22.969511, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 154.73, 'regularMarketOpen': 151.45, 'twoHundredDayAverage': 153.6086, 'trailingAnnualDividendYield': 0.0055903834, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 154.12, 'navPrice': None, 'averageDailyVolume10Day': 93968420, 'regularMarketPreviousClose': 154.73, 'fiftyDayAverage': 168.6374, 'trailingAnnualDividendRate': 0.865, 'open': 151.45, 'toCurrency': None, 'averageVolume10days': 93968420, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.5, 'currency': 'USD', 'trailingPE': 25.050705, 'regularMarketVolume': 58299391, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2459007188992, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95938386, 'dayLow': 150.5, 'ask': 151.2, 'askSize': 1200, 'volume': 58299391, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 151.18, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 800, 'dayHigh': 154.12, 'regularMarketPrice': 150.68, 'preMarketPrice': 151.52, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590636,24.225176,23.450393,24.220577,270597600,0.0,0
2016-01-05,24.312540,24.335531,23.544656,23.613626,223164000,0.0,0
2016-01-06,23.119327,23.535458,22.960694,23.151514,273829600,0.0,0
2016-01-07,22.687108,23.020471,22.169820,22.174417,324377600,0.0,0
2016-01-08,22.657223,22.785970,22.245691,22.291672,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713645,41.890359,41.670663,41.792450,65397600,0.0,0
2017-12-26,40.787112,40.947108,40.519653,40.732189,132742000,0.0,0
2017-12-27,40.619957,40.782339,40.526825,40.739357,85992800,0.0,0
2017-12-28,40.834865,41.037847,40.710688,40.853970,65920800,0.0,0
2017-12-29,40.720248,40.736962,40.409807,40.412193,103999600,0.0,0

In [7]:
import yfinance as yf
goog = yf.Ticker('GOOG')

print(goog.info) #Con info() se obtiene la información correspondiente al objeto de stock creado

goog_tabla = goog.history(start="2016-01-01", end="2017-12-31") #history() permite obtener el historial del stock para diferentes variables dado un rango de fechas
goog_tabla

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 156500, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, Google Maps, Google Play, Search, and YouTube; subscription-based products; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in-app purchases and digital content. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services, as well as licensing and research and development services. The company was incorporated in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650 253 0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.35377, 'profitMargins': 0.29512, 'grossMargins': 0.5694, 'operatingCashflow': 91651997696, 'revenueGrowth': 0.324, 'operatingMargins': 0.30552, 'ebitda': 91144003584, 'targetLowPrice': 3150, 'recommendationKey': 'strong_buy', 'grossProfits': 146698000000, 'freeCashflow': 49490001920, 'targetMedianPrice': 3485, 'currentPrice': 2593.21, 'earningsGrowth': 0.377, 'currentRatio': 2.928, 'returnOnAssets': 0.14493, 'numberOfAnalystOpinions': 10, 'targetMeanPrice': 3463.5, 'debtToEquity': 11.329, 'returnOnEquity': 0.32069, 'targetHighPrice': 3900, 'totalCash': 139649007616, 'totalDebt': 28508000256, 'totalRevenue': 257637007360, 'totalCashPerShare': 211.278, 'financialCurrency': 'USD', 'revenuePerShare': 385.886, 'quickRatio': 2.8, 'recommendationMean': 1.5, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOG', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.072, 'beta3Year': None, 'enterpriseToEbitda': 17.163, '52WeekChange': 0.2113719, 'morningStarRiskRating': None, 'forwardEps': 136.06, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 315639008, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 380.044, 'sharesShort': 1771392, 'sharesPercentSharesOut': 0.0027, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.66251, 'netIncomeToCommon': 76032999424, 'trailingEps': 112.197, 'lastDividendValue': None, 'SandP52WeekChange': 0.053094983, 'priceToBook': 6.8234468, 'heldPercentInsiders': 0.00034000003, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.93, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 573571083, 'beta': 1.06496, 'enterpriseValue': 1564302376960, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1430092800, 'lastSplitFactor': '10027455:10000000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.356, 'priceToSalesTrailing12Months': 6.6367984, 'dateShortInterest': 1646006400, 'pegRatio': 1.6, 'ytdReturn': None, 'forwardPE': 19.059313, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1400466, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2534.82, 'regularMarketOpen': 2554.83, 'twoHundredDayAverage': 2757.4346, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2610.345, 'navPrice': None, 'averageDailyVolume10Day': 1402870, 'regularMarketPreviousClose': 2534.82, 'fiftyDayAverage': 2709.348, 'trailingAnnualDividendRate': 0, 'open': 2554.83, 'toCurrency': None, 'averageVolume10days': 1402870, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2531.36, 'currency': 'USD', 'trailingPE': 23.113007, 'regularMarketVolume': 1504175, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1709884833792, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1542320, 'dayLow': 2531.36, 'ask': 2593, 'askSize': 800, 'volume': 1504175, 'fiftyTwoWeekHigh': 3042, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 2010.73, 'bid': 2585.53, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2610.345, 'regularMarketPrice': 2593.21, 'preMarketPrice': 2553.42, 'logo_url': 'https://logo.clearbit.com/abc.xyz', 'trailingPegRatio': 0.9445}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,743.000000,744.059998,731.257996,741.840027,3272800,0,0
2016-01-05,746.450012,752.000000,738.640015,742.580017,1950700,0,0
2016-01-06,730.000000,747.179993,728.919983,743.619995,1947000,0,0
2016-01-07,730.309998,738.500000,719.059998,726.390015,2963700,0,0
2016-01-08,731.450012,733.229980,713.000000,714.469971,2450900,0,0
...,...,...,...,...,...,...,...
2017-12-22,1061.109985,1064.199951,1059.439941,1060.119995,755100,0,0
2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,760600,0,0
2017-12-27,1057.390015,1058.369995,1048.050049,1049.369995,1271900,0,0
2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,837100,0,0
2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,887500,0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [ ]:
goog = goog_tabla['Close']['2017'] #Se crea una serie filtrando por el nombre de la columna, en este caso Close, y por el año, 2017

In [ ]:
print(goog)

Date
2017-01-03     786.140015
2017-01-04     786.900024
2017-01-05     794.020020
2017-01-06     806.150024
2017-01-09     806.650024
                 ...
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
print(goog['2017-2']) #Se puede crear la serie filtrando incluso por mes y año yyyy-mm

Date
2017-02-01    795.695007
2017-02-02    798.530029
2017-02-03    801.489990
2017-02-06    801.340027
2017-02-07    806.969971
2017-02-08    808.380005
2017-02-09    809.559998
2017-02-10    813.669983
2017-02-13    819.239990
2017-02-14    820.450012
2017-02-15    818.979980
2017-02-16    824.159973
2017-02-17    828.070007
2017-02-21    831.659973
2017-02-22    830.760010
2017-02-23    831.330017
2017-02-24    828.640015
2017-02-27    829.280029
2017-02-28    823.210022
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [ ]:
goog['2017-3':'2017-5'] #Se puede crear la serie filtrando incluso por mes y año yyyy-mm, en un rango dado

Date
2017-03-01    835.239990
2017-03-02    830.630005
2017-03-03    829.080017
2017-03-06    827.780029
2017-03-07    831.909973
                 ...
2017-05-24    954.960022
2017-05-25    969.539978
2017-05-26    971.469971
2017-05-30    975.880005
2017-05-31    964.859985
Name: Close, Length: 64, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [ ]:
print(goog.head(2)) #head(n) permite obtener los primeros n elementos de la serie
print(goog.tail(7)) #tail(n) permite obtener los últimos n elementos de la serie

Date
2017-01-03    786.140015
2017-01-04    786.900024
Name: Close, dtype: float64
Date
2017-12-20    1064.949951
2017-12-21    1063.630005
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [ ]:
por_mes = goog.resample('M').mean() #resample('M') reagrupa los datos de la serie por mes, después se obtiene la media de cada uno
print(por_mes)

Date
2017-01-31     807.904752
2017-02-28     816.916581
2017-03-31     834.111307
2017-04-30     844.056840
2017-05-31     939.284085
2017-06-30     953.766824
2017-07-31     942.865009
2017-08-31     922.023045
2017-09-30     931.299503
2017-10-31     982.522275
2017-11-30    1030.492844
2017-12-31    1043.653003
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
por_semana = goog.resample('W').mean()  #resample('W') reagrupa los datos de la serie por semana, después se obtiene la media de cada uno
print(por_semana.head())

Date
2017-01-08    793.302521
2017-01-15    806.717993
2017-01-22    804.468750
2017-01-29    826.862000
2017-02-05    798.965002
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [ ]:
goog.resample('M').max() #resample('M') reagrupa los datos de la serie por mes, después se obtiene el máximo de cada uno

Date
2017-01-31     835.669983
2017-02-28     831.659973
2017-03-31     852.119995
2017-04-30     905.960022
2017-05-31     975.880005
2017-06-30     983.679993
2017-07-31     980.340027
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1019.270020
2017-11-30    1054.209961
2017-12-31    1077.140015
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [ ]:
cuatro_dias = goog.resample('4D').mean()  #resample('4D') reagrupa los datos de la serie por cada 4 días, después se obtiene la media de cada uno
tres_semanas = goog.resample('3W').mean() #resample('3W') reagrupa los datos de la serie por cada 3 semanas, después se obtiene la media de cada uno
tres_meses = goog.resample('3M').mean()   #resample('3M') reagrupa los datos de la serie por cada 3 meses, después se obtiene la media de cada uno

print(cuatro_dias)
print(tres_semanas)
print(tres_meses)

Date
2017-01-03     793.302521
2017-01-07     805.720001
2017-01-11     807.383321
2017-01-15     805.339996
2017-01-19     803.597504
                 ...
2017-12-13    1051.316650
2017-12-17    1070.923340
2017-12-21    1061.875000
2017-12-25    1051.416667
2017-12-29    1046.400024
Freq: 4D, Name: Close, Length: 91, dtype: float64
Date
2017-01-08     793.302521
2017-01-29     813.269640
2017-02-19     809.709664
2017-03-12     831.915719
2017-04-02     834.174670
2017-04-23     832.148568
2017-05-14     910.660661
2017-06-04     952.420711
2017-06-25     959.580676
2017-07-16     927.726432
2017-08-06     948.571346
2017-08-27     919.313330
2017-09-17     928.692147
2017-10-08     942.659334
2017-10-29     984.676668
2017-11-19    1026.664657
2017-12-10    1026.749285
2017-12-31    1055.192854
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2017-01-31     807.904752
2017-04-30     831.853362
2017-07-31     945.381565
2017-10-31     945.354002
2018-01-31    1036.912434
Freq: 3M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
std = goog.resample('W').std() #resample('W') reagrupa los datos de la serie por semana, después se obtiene la desviación estándar de cada uno
max = goog.resample('W').max() #resample('W') reagrupa los datos de la serie por semana, después se obtiene el máximo de cada uno
min = goog.resample('W').min() #resample('W') reagrupa los datos de la serie por semana, después se obtiene el mínimo de cada uno


print(std)
print(max)
print(min)

Date
2017-01-08     9.271221
2017-01-15     1.286577
2017-01-22     1.648152
2017-01-29     6.785008
2017-02-05     2.882899
2017-02-12     4.476093
2017-02-19     3.888738
2017-02-26     1.356907
2017-03-05     4.301519
2017-03-12     5.971306
2017-03-19     2.730815
2017-03-26    13.392346
2017-04-02     5.882941
2017-04-09     5.451000
2017-04-16     0.645758
2017-04-23     2.849201
2017-04-30    16.568690
2017-05-07     8.065152
2017-05-14     2.058548
2017-05-21     8.719065
2017-05-28    12.907173
2017-06-04     5.743123
2017-06-11    14.294068
2017-06-18     5.898889
2017-06-25     5.367715
2017-07-02    17.409210
2017-07-09     8.380824
2017-07-16    11.601406
2017-07-23     7.663487
2017-07-30    17.654578
2017-08-06     3.028084
2017-08-13     9.169523
2017-08-20     7.423927
2017-08-27     8.115862
2017-09-03    10.771394
2017-09-10     4.259703
2017-09-17     5.815036
2017-09-24     7.375925
2017-10-01    16.330452
2017-10-08    11.710768
2017-10-15     7.918404
2017-10-22     3.558963
2017-10-29    21.572126
2017-11-05     6.649262
2017-11-12     5.387203
2017-11-19     5.228673
2017-11-26     9.678139
2017-12-03    18.848620
2017-12-10    16.344819
2017-12-17    10.225138
2017-12-24     6.685706
2017-12-31     4.551121
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     806.150024
2017-01-15     807.909973
2017-01-22     806.070007
2017-01-29     835.669983
2017-02-05     802.320007
2017-02-12     813.669983
2017-02-19     828.070007
2017-02-26     831.659973
2017-03-05     835.239990
2017-03-12     843.250000
2017-03-19     852.119995
2017-03-26     848.400024
2017-04-02     831.500000
2017-04-09     838.549988
2017-04-16     824.729980
2017-04-23     843.190002
2017-04-30     905.960022
2017-05-07     931.659973
2017-05-14     934.299988
2017-05-21     943.000000
2017-05-28     971.469971
2017-06-04     975.880005
2017-06-11     983.679993
2017-06-18     953.400024
2017-06-25     965.590027
2017-07-02     952.270020
2017-07-09     918.590027
2017-07-16     955.989990
2017-07-23     972.919983
2017-07-30     980.340027
2017-08-06     930.830017
2017-08-13     929.359985
2017-08-20     926.960022
2017-08-27     927.000000
2017-09-03     939.330017
2017-09-10     935.950012
2017-09-17     935.090027
2017-09-24     932.450012
2017-10-01     959.109985
2017-10-08     978.890015
2017-10-15     989.679993
2017-10-22     992.809998
2017-10-29    1019.270020
2017-11-05    1032.479980
2017-11-12    1039.849976
2017-11-19    1032.500000
2017-11-26    1040.609985
2017-12-03    1054.209961
2017-12-10    1037.050049
2017-12-17    1064.189941
2017-12-24    1077.140015
2017-12-31    1056.739990
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     786.140015
2017-01-15     804.789978
2017-01-22     802.174988
2017-01-29     819.309998
2017-02-05     795.695007
2017-02-12     801.340027
2017-02-19     818.979980
2017-02-26     828.640015
2017-03-05     823.210022
2017-03-12     827.780029
2017-03-19     845.539978
2017-03-26     814.429993
2017-04-02     819.510010
2017-04-09     824.669983
2017-04-16     823.349976
2017-04-23     836.820007
2017-04-30     862.760010
2017-05-07     912.570007
2017-05-14     928.780029
2017-05-21     919.619995
2017-05-28     941.859985
2017-06-04     964.859985
2017-06-11     949.830017
2017-06-18     939.780029
2017-06-25     950.630005
2017-07-02     908.729980
2017-07-09     898.700012
2017-07-16     928.799988
2017-07-23     953.419983
2017-07-30     934.090027
2017-08-06     923.650024
2017-08-13     907.239990
2017-08-20     910.669983
2017-08-27     906.659973
2017-09-03     913.809998
2017-09-10     926.500000
2017-09-17     920.289978
2017-09-24     915.000000
2017-10-01     920.969971
2017-10-08     951.679993
2017-10-15     972.599976
2017-10-22     984.450012
2017-10-29     968.450012
2017-11-05    1016.640015
2017-11-12    1025.900024
2017-11-19    1019.090027
2017-11-26    1018.380005
2017-12-03    1010.169983
2017-12-10     998.679993
2017-12-17    1040.479980
2017-12-24    1060.119995
2017-12-31    1046.400024
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [ ]:
ultimo_dia = goog.resample('M').agg(lambda x: x[-1]) #agg.() permite aplicar una función lambda para, en este caso, obtener el dado del último día (índice -1)
print(ultimo_dia)

Date
2017-01-31     796.789978
2017-02-28     823.210022
2017-03-31     829.559998
2017-04-30     905.960022
2017-05-31     964.859985
2017-06-30     908.729980
2017-07-31     930.500000
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1016.640015
2017-11-30    1021.409973
2017-12-31    1046.400024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [ ]:
ganancias_mensuales = goog.resample('M').agg(lambda x: x[-1]/x[0] - 1) #agg.() permite aplicar una función lambda para, en este caso, obtener la tasa de ganancias, diviendo el valor obtenido el último día sobre el obtenido el primero, despúes se le resta 1 al resultado
print(ganancias_mensuales)

Date
2017-01-31    0.013547
2017-02-28    0.034580
2017-03-31   -0.006800
2017-04-30    0.080389
2017-05-31    0.057300
2017-06-30   -0.060210
2017-07-31    0.035384
2017-08-31    0.009132
2017-09-30    0.023225
2017-10-31    0.066476
2017-11-30   -0.003988
2017-12-31    0.035865
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [ ]:
print(ganancias_mensuales.mean())
print(ganancias_mensuales.std())
print(ganancias_mensuales.max())

0.023741652267563317
0.03769325954470389
0.08038880825352845

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
print(ultimo_dia.diff())        #diff() calcula la diferencia entre que existe entre dos periodos
print(ultimo_dia.pct_change())  #pct_change() calcula el porcentaje de cambio entre dos periodos

Date
2017-01-31          NaN
2017-02-28    26.420044
2017-03-31     6.349976
2017-04-30    76.400024
2017-05-31    58.899963
2017-06-30   -56.130005
2017-07-31    21.770020
2017-08-31     8.830017
2017-09-30    19.779968
2017-10-31    57.530029
2017-11-30     4.769958
2017-12-31    24.990051
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
ganancias_diarias = ultimo_dia.pct_change()
print(ganancias_diarias.fillna(0))          #fillna(0) reemplaza los valores Na por 0's

Date
2017-01-31    0.000000
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
ganancias_diarias = ultimo_dia.pct_change()
print(ganancias_diarias.fillna(method = 'bfill')) #fillna(method = 'bfill) llena los valores Na con el siguiente valor válido

Date
2017-01-31    0.033158
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
ganancias_diarias = ultimo_dia.pct_change()
ganancias_diarias.dropna()                  #dropna() borra los elementos con Na

Date
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
import pandas as pd

dicc = {'AAPL': [153.5, 144.07, 140.73, 104.18],'GOOG':[666.7, 999.71, 977.69, 888.59],
        'IBM':[140.58, 150.67, 150.36, 150.94]}
data_indice = pd.date_range('2017-01-01', periods = 4, freq = 'D')
dafa = pd.DataFrame(dicc, index = data_indice)                                            #DataFrame() permite crear los DataFrames a partir de, en este caso, un diccionario
print(dafa)

              AAPL    GOOG     IBM
2017-01-01  153.50  666.70  140.58
2017-01-02  144.07  999.71  150.67
2017-01-03  140.73  977.69  150.36
2017-01-04  104.18  888.59  150.94

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [8]:
dafr = goog_tabla
print(dafr.Close.tail(4))     #se agrupan los últimos 4 datos de la columna Close
print(dafr['Volume'].tail(4)) #se agrupan los últimos 4 datos de la columna Volume

Date
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64
Date
2017-12-26     760600
2017-12-27    1271900
2017-12-28     837100
2017-12-29     887500
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [9]:
goog_2016 = dafr['2016']
goog_mes = goog_2016.resample('M').agg(lambda x: x[-1])
print(goog_mes)

                  Open        High         Low       Close   Volume  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012  3474300
2016-02-29  700.320007  710.890015  697.679993  697.770020  2481100
2016-03-31  749.250000  750.849976  740.940002  744.950012  1718800
2016-04-30  690.700012  697.619995  689.000000  693.010010  2487700
2016-05-31  731.739990  739.729980  731.260010  735.719971  2129500
2016-06-30  685.469971  692.320007  683.650024  692.099976  1597700
2016-07-31  772.710022  778.549988  766.770020  768.789978  3841500
2016-08-31  767.010010  769.090027  765.380005  767.049988  1248600
2016-09-30  776.330017  780.940002  774.090027  777.289978  1585300
2016-10-31  795.469971  796.859985  784.000000  784.539978  2427300
2016-11-30  770.070007  772.989990  754.830017  758.039978  2392900
2016-12-31  782.750000  782.780029  770.409973  771.820007  1770000

            Dividends  Stock Splits
Date
2016-01-31          0             0
2016-02-29          0             0
2016-03-31          0             0
2016-04-30          0             0
2016-05-31          0             0
2016-06-30          0             0
2016-07-31          0             0
2016-08-31          0             0
2016-09-30          0             0
2016-10-31          0             0
2016-11-30          0             0
2016-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [14]:
goog_bar = goog_mes[['Open', 'High', 'Low', 'Close']] #Se puede agrupar por columnas indicandolas por su nombre, separadas por comas
print(goog_bar)

                  Open        High         Low       Close
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012
2016-02-29  700.320007  710.890015  697.679993  697.770020
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [ ]:
print(goog_mes.loc['2016-01':'2016-09',['Open', 'High', 'Low']])  #Se agrupa por el rango de fechas dado y, las 3 columnas requeridas

                  Open        High         Low
Date
2016-01-31  731.530029  744.989990  726.799988
2016-02-29  700.320007  710.890015  697.679993
2016-03-31  749.250000  750.849976  740.940002
2016-04-30  690.700012  697.619995  689.000000
2016-05-31  731.739990  739.729980  731.260010
2016-06-30  685.469971  692.320007  683.650024
2016-07-31  772.710022  778.549988  766.770020
2016-08-31  767.010010  769.090027  765.380005
2016-09-30  776.330017  780.940002  774.090027

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [15]:
import numpy as np

arriba = goog_bar[goog_bar.Open > np.mean(goog_bar.Open)] #se crea un subconjunto para el cual el valor en Open es mayor al de la media
print(arriba)

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
goog_bar['tasa_de_ingresos'] = goog_bar.Close.pct_change() #Se crea la columna de tasa_de_ingresos en el DataFrame
print(goog_bar)

                  Open        High         Low       Close  tasa_de_ingresos
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [17]:
m = goog_bar.isnull()                                   #isnull() determina si los valores del DataFrame son nulos o no
print(m)
print('********************************************')
print(m.describe())

             Open   High    Low  Close  tasa_de_ingresos
Date
2016-01-31  False  False  False  False              True
2016-02-29  False  False  False  False             False
2016-03-31  False  False  False  False             False
2016-04-30  False  False  False  False             False
2016-05-31  False  False  False  False             False
2016-06-30  False  False  False  False             False
2016-07-31  False  False  False  False             False
2016-08-31  False  False  False  False             False
2016-09-30  False  False  False  False             False
2016-10-31  False  False  False  False             False
2016-11-30  False  False  False  False             False
2016-12-31  False  False  False  False             False
********************************************
         Open   High    Low  Close tasa_de_ingresos
count      12     12     12     12               12
unique      1      1      1      1                2
top     False  False  False  False            False
freq       12     12     12     12               11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [18]:
print(m[m.tasa_de_ingresos == True])  #Se puede filtrar por fila para encontrar en dónde existe un valor nulo

             Open   High    Low  Close  tasa_de_ingresos
Date
2016-01-31  False  False  False  False              True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [21]:
borrar = goog_bar.dropna()
print(borrar)
print('\n--------------------------------------------------------------\n')   #Mismos métodos para borrar y reemplazar valores Na que se utilizaba en las series
llenar = goog_bar.fillna(0)
print(llenar)

                  Open        High         Low       Close  tasa_de_ingresos
Date
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

--------------------------------------------------------------

                  Open        High         Low       Close  tasa_de_ingresos
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          0.000000
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [24]:
serie1 = pd.Series([13.4, 14.4, 12.2, 14.4, 14.3], name = 'D1')
serie2 = pd.Series([89.8, 91.1, 90.6, 91.8, 92.6], name = 'ARA')
dafr = pd.concat([serie1, serie2], axis = 1)                      #concat() concatena las series dadas. Axis = 1 define que la concatenación sea por columnas
print(dafr)

     D1   ARA
0  13.4  89.8
1  14.4  91.1
2  12.2  90.6
3  14.4  91.8
4  14.3  92.6

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [25]:
precio_log = np.log(goog_bar.Close)
precio_log.name = 'precio_log'
print(precio_log)
print('\n-----------------------------------------\n')
concatenacion = pd.concat([goog_bar, precio_log], axis = 1)
print(concatenacion)

Date
2016-01-31    6.610629
2016-02-29    6.547890
2016-03-31    6.613317
2016-04-30    6.541044
2016-05-31    6.600850
2016-06-30    6.539730
2016-07-31    6.644818
2016-08-31    6.642552
2016-09-30    6.655813
2016-10-31    6.665098
2016-11-30    6.630736
2016-12-31    6.648751
Freq: M, Name: precio_log, dtype: float64

-----------------------------------------

                  Open        High         Low       Close  tasa_de_ingresos  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

            precio_log
Date
2016-01-31    6.610629
2016-02-29    6.547890
2016-03-31    6.613317
2016-04-30    6.541044
2016-05-31    6.600850
2016-06-30    6.539730
2016-07-31    6.644818
2016-08-31    6.642552
2016-09-30    6.655813
2016-10-31    6.665098
2016-11-30    6.630736
2016-12-31    6.648751

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [27]:
dafr_volumen = goog_tabla.loc['2016-5':'2016-12', ['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(dafr_volumen)
print('------------------------------------------------------')
dafr_2017 = goog_tabla.loc['2016-5':'2016-12', ['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(dafr_2017)

             Volume  Stock Splits
Date
2016-05-31  2129500             0
2016-06-30  1597700             0
2016-07-31  3841500             0
2016-08-31  1248600             0
2016-09-30  1585300             0
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0
------------------------------------------------------
                  Open        High         Low       Close
Date
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [28]:
concatenacion = pd.concat([goog_bar, dafr_volumen], axis = 1)
print(concatenacion)

                  Open        High         Low       Close  tasa_de_ingresos  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

               Volume  Stock Splits
Date
2016-01-31        NaN           NaN
2016-02-29        NaN           NaN
2016-03-31        NaN           NaN
2016-04-30        NaN           NaN
2016-05-31  2129500.0           0.0
2016-06-30  1597700.0           0.0
2016-07-31  3841500.0           0.0
2016-08-31  1248600.0           0.0
2016-09-30  1585300.0           0.0
2016-10-31  2427300.0           0.0
2016-11-30  2392900.0           0.0
2016-12-31  1770000.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [31]:
concatenacion = pd.concat([goog_bar, dafr_volumen], axis = 1, join = 'inner') #join = 'inner' hace la unión por intersección
print(concatenacion)

                  Open        High         Low       Close  tasa_de_ingresos  \
Date
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178

             Volume  Stock Splits
Date
2016-05-31  2129500             0
2016-06-30  1597700             0
2016-07-31  3841500             0
2016-08-31  1248600             0
2016-09-30  1585300             0
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [32]:
union = goog_bar.append(dafr_2017)  #append() funciona como un concat(), pero con axis = 0
print(union)

                  Open        High         Low       Close  tasa_de_ingresos
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178
2016-05-31  731.739990  739.729980  731.260010  735.719971               NaN
2016-06-30  685.469971  692.320007  683.650024  692.099976               NaN
2016-07-31  772.710022  778.549988  766.770020  768.789978               NaN
2016-08-31  767.010010  769.090027  765.380005  767.049988               NaN
2016-09-30  776.330017  780.940002  774.090027  777.289978               NaN
2016-10-31  795.469971  796.859985  784.000000  784.539978               NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978               NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007               NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [33]:
concatenacion = pd.concat([goog_bar, dafr_2017], axis = 0) #otra manera de concatenar por axis = 0
print(concatenacion)

                  Open        High         Low       Close  tasa_de_ingresos
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178
2016-05-31  731.739990  739.729980  731.260010  735.719971               NaN
2016-06-30  685.469971  692.320007  683.650024  692.099976               NaN
2016-07-31  772.710022  778.549988  766.770020  768.789978               NaN
2016-08-31  767.010010  769.090027  765.380005  767.049988               NaN
2016-09-30  776.330017  780.940002  774.090027  777.289978               NaN
2016-10-31  795.469971  796.859985  784.000000  784.539978               NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978               NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007               NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [34]:
dafr_2017.columns = ['Change', 'High', 'Low', 'Close']
concatenacion = pd.concat([goog_bar, dafr_2017], axis = 0)
print(concatenacion)

                  Open        High         Low       Close  tasa_de_ingresos  \
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012               NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020         -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012          0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010         -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971          0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976         -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978          0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988         -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978          0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978          0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978         -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007          0.018178
2016-05-31         NaN  739.729980  731.260010  735.719971               NaN
2016-06-30         NaN  692.320007  683.650024  692.099976               NaN
2016-07-31         NaN  778.549988  766.770020  768.789978               NaN
2016-08-31         NaN  769.090027  765.380005  767.049988               NaN
2016-09-30         NaN  780.940002  774.090027  777.289978               NaN
2016-10-31         NaN  796.859985  784.000000  784.539978               NaN
2016-11-30         NaN  772.989990  754.830017  758.039978               NaN
2016-12-31         NaN  782.780029  770.409973  771.820007               NaN

                Change
Date
2016-01-31         NaN
2016-02-29         NaN
2016-03-31         NaN
2016-04-30         NaN
2016-05-31         NaN
2016-06-30         NaN
2016-07-31         NaN
2016-08-31         NaN
2016-09-30         NaN
2016-10-31         NaN
2016-11-30         NaN
2016-12-31         NaN
2016-05-31  731.739990
2016-06-30  685.469971
2016-07-31  772.710022
2016-08-31  767.010010
2016-09-30  776.330017
2016-10-31  795.469971
2016-11-30  770.070007
2016-12-31  782.750000

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.